<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/ETRI-AUTOML/etri" class="btn">View on GitHub(ETRI research)</a>
  <a href="https://github.com/ETRI-AUTOML/tmax" class="btn">View on GitHub(TMAX research)</a>
  <a href="https://github.com/ETRI-AUTOML/kaist" class="btn">View on GitHub(KAIST research)</a>
  <a href="https://github.com/ETRI-AUTOML/postech" class="btn">View on GitHub(POSTECH research)</a>
  <a href="https://github.com/ETRI-AUTOML/skt" class="btn">View on GitHub(SKT research)</a>
</section>
