<section class="page-header">
  <h1 class="project-name">{{ site.title }}</h1>
  <h2 class="project-tagline">{{ site.tagline }}</h2>
  <a href="https://github.com/ETRI-AUTOML/survey" class="btn">View on GitHub(ETRI & KAIST research)</a>
<!--  <a href="https://github.com/Kthyeon/micronet_neurips_challenge" class="btn">View on GitHub(KAIST MicroNet Challenge #1)</a>
  <a href="https://github.com/Lee-Gihun/MicroNet_OSI-AI" class="btn">View on GitHub(KAIST MicroNet Challenge #2)</a>
  <a href="http://edge.ntels.com/" class="btn">View on Site(NTELS Edge Platform)</a> -->
</section>
